p{
    background-color: antiquewhite;
}
#id{
    background-color: antiquewhite;
}
.class{
    background-color: antiquewhite;
}
*{
    background-color: antiquewhite;
}
p,h1,h2{
    background-color: antiquewhite;
}